@font-face {
    font-family: OSCL;
    src: url(../fonts/OpenSansCondensed-Light.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: OSCL, sans-serif;
    font-size: 1.3rem;
    color: #fff;
}

body {
    height: 100vh;
    width: 100vw;
    background: #000 url(../img/tomato.jpg) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}